.newColor {
  background-color: white;
}

.myNavColor {
  min-height: 50px;
  background-color: #9A9B8D;
}

.textPurple {
  color: purple;
  font-size: 100px;
}

.alignstuff1 {
  padding-top: 40%;
  padding-left: 30%;
}

.alignstuff2 {
  padding-bottom: 40%;
  padding-left: 30%;
}

footer {
  background-color: #9A9B8D;
}

.left-colum {
  max-height: 1000px;
}

.trackpage {
  min-width: auto;
  width: 300px;
  max-width: 50%;
  background-color: #333527;
  /* margin: 30px; */s
}

.the-back {
  max-width: 100%;
  opacity: 0.19;
  min-height: 1000px;
}

.albumn-cover-container {
  top: 60px;
  left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 85%;
  z-index: 1;

}

.albumn-cover-container img {
  max-width: 50%;
  max-height: 30%;
  margin: 50px;
  z-index: 2;
}

.albumn-cover-image {
  max-width: 100px;
  max-height: 100px;
  margin: 20px;
}
