.myNavColor {
  background-color: #9A9B8D;
  color: white;
}

nav.myNavColor {
  min-height: 150px;
}

.myNavColor p {
  vertical-align: text-bottom;
  font-size: 50px;
}

.newColor {
  background-color: white;
}

.trackpage {
  background-color: #333527;
  border: none;
  min-width: 150px;
  max-width: 150px;
}

.album-container {
  overflow-y: hidden;
  /* overflow-x: scroll; */
  max-height: 250px;
  max-width: 900px;
  display:flex;
  flex-direction: row;
  /* border-radius: 10px; */
}

.album-container::-webkit-scrollbar-track, .albumn-info-contain::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.album-container::-webkit-scrollbar, .albumn-info-contain::-webkit-scrollbar
{
	width: 12px;
  border-radius: 10px;
	background-color: #F5F5F5;
}

.album-container::-webkit-scrollbar-thumb, .albumn-info-contain::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: gray;
}


.taller {
  min-height: 100px;
  align-items: flex-end;
}

.album-itself, .albumn-tracks, .actual-playlist {
  border: solid 1px black;
  min-height: 300px;
}

.album-container img {
  /* display: inline-block; */
  max-width: 200px;
  max-height: 200px;
  margin: 20px;
  box-shadow: 10px 10px 8px #888888;
  border-top: 10px solid rgba(0,0,0,0);
}

.album-container img:hover {
  box-shadow: 10px 20px 15px gray;
  border-top: 0 solid rgba(0,0,0,0);
}

.album-container img:active {
  background-color: white;
  opacity: 0.5;
}



.album-itself span {
  color: black;
  font-size: 18px;
  cursor: crosshair;
  border: solid black 2px;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  box-shadow: 10px 10px 8px #888888;
  min-width: 400px;
}

.album-itself span:hover {
  background-color: black;
  color: white;

}

.ofBUttons {
  padding-bottom: 50px;
}

.footerBigger {
  min-height: 50px;
}
